[submodule "Qt-AES"]
	path = Qt-AES
	url = https://github.com/bricke/Qt-AES
[submodule "statusbar"]
	path = statusbar
	url = https://github.com/jpnurmi/statusbar
[submodule "qqr.js"]
	path = qqr.js
	url = git@github.com:M4rtinK/qqr.js.git
[submodule "qqr"]
	path = qqr
	url = git@github.com:M4rtinK/qqr.js.git
